* {
  box-sizing: border-box;
}

.fixed {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: #ff6f61;
  color: white;
  z-index: 2;
  text-align: center;
  border-radius: 5px;
  border: none;
}
.up {
  color: white;
  font-size: 25px;
  margin-top: 8px;
}
/*------------------------------------ header --------------------------*/

.header {
  background-color: black;
}

.email {
  padding: 10px;
  color: #ff6f61;
}

.phone {
  padding: 10px;
  color: #ff6f61;
}

/*----------------------------------------------- nav-------------------------------- */
.navbar-expand-lg {
  background-color: #ff6f61;
  position: sticky;
  top: 0;
  z-index: 1;
}

/*------------------------------------------------- estore ---------------------------------*/
.store-header {
  margin: 15px 0px;
}

.estore {
  font-size: 60px;
  font-weight: 100;
}

.search {
  padding-top: 30px;
  position: relative;
  display: flex;
}

.search input {
  width: 500px;
  height: 40px;
  border: 1px solid #ff6f61;
  border-radius: 7px;
}

.search input:hover {
  border: 3px solid #ff6f61;
}

.logos {
  display: flex;
  padding-top: 25px;
}

.logos .heart {
  border: 1px solid #ff6f61;
  border-radius: 7px;
  padding: 10px 15px;
  height: 45px;
  margin-right: 40px;
  color: #ff6f61;
}

.logos .heart:hover {
  background-color: #ff6f61;
  color: white;
}

.logos .heart:hover .heart-icon {
  color: white;
}

.logos .heart .heart-icon {
  color: #ff6f61;
}

.logos .market {
  border: 1px solid #ff6f61;
  border-radius: 7px;
  padding: 10px 15px;
  height: 45px;
  color: #ff6f61;
}

.logos .market:hover {
  background-color: #ff6f61;
  color: white;
}

.logos .market:hover .market-icon {
  color: white;
}

.logos .market .market-icon {
  color: #ff6f61;
}

/*------------------------------------------------ boxes ------------------------------------------*/
.boxes {
  background-color: aliceblue;
  padding-top: 30px;
  padding-bottom: 30px;
}

.boxes1 {
  margin-right: 30px;
}

.house,
.bag,
.square,
.child,
.tshirt,
.mobile,
.tv {
  color: #ff6f61;
}

.tshirt {
  font-size: 13px;
}

.child {
  font-size: 20px;
}

.tv {
  font-size: 12px;
  margin-right: 10px;
}

.boxes-ul:hover {
  background-color: #ff6f61;
  color: white;
}

.boxes-ul:hover .boxes-cion {
  color: white;
}

.boxes .bg2 {
  background-image: url(img/slider-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  padding: 30px;
}

.boxes .bg2 .centered-div {
  width: 70%;
  height: 80%;
  background-color: rgba(255, 102, 102, 0.685);
  margin-top: 40px;
  padding: 25px;
  color: white;
  text-align: center;
}

.boxes .bg2 .centered-div button {
  border: 1px solid #ff6f61;
  border-radius: 5px;
  padding: 5px 15px;
}

.boxes-third img {
  width: 100%;
  height: 50%;
}
.boxes .centered-div button:hover {
  transform: scale(1.06);
  transition: 0.3s;
}
/* --------------------------------------------poctures------------------------------------------------ */
.pictures {
  padding: 15px 0px;
  background-color: white;
  /* margin-bottom:100px; */
}

.pictures .pic1 {
  text-align: center;
}

.pictures .pic1:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/*------------------------------------------------ divs------------------------------------------------------ */
.divs {
  background-color: aliceblue;
  padding: 20px 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.divs .divs-inner {
  width: 20%;
  text-align: center;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 7px;
  padding: 15px;
  overflow: hidden;
}

.divs .divs-inner:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.divs .divs-inner .divs-icon {
  color: #ff6f61;
  font-size: 40px;
  padding: 20px;
}

@media only screen and (max-width: 1200px) {
  .divs .divs-inner {
    width: 20%;
  }

  .divs {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1000px) {
  .divs .divs-inner {
    width: 40%;
  }

  .divs {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 860px) {
  .divs .divs-inner {
    width: 80%;
  }

  .divs {
    justify-content: center;
  }
}

/*---------------------------------------------------------------- fashion ------------------------------------*/
.fashion {
  background-color: aliceblue;
  padding: 30px 0px;
}

.fashion .fashion1,
.fashion2,
.fashion3,
.fashion4 {
  overflow: hidden;
  border-radius: 7px;
}

.fashion .fashion1 img {
  width: 100%;
  border-radius: 7px;
}

.fashion .fashion2 img {
  width: 100%;
  border-radius: 7px;
}

.fashion .fashion3 img {
  width: 100%;
  border-radius: 7px;
}

.fashion .fashion4 img {
  width: 100%;
  border-radius: 7px;
}

.fashion .fashion1:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.fashion .fashion2:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.fashion .fashion3:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.fashion .fashion4:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

/*------------------------------------------------ inquires -------------------------------------*/
.inquires {
  background-color: #ff6f61;
  padding: 20px 0px;
}

.call {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.number {
  text-align: center;
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
  border: 2px solid white;
  border-radius: 7px;
}

.number:hover {
  background-color: white;
  color: #ff6f61;
}

/*--------------------------------------------------- features -----------------------------------*/
.features {
  background-color: aliceblue;
  padding: 25px 0px;
}

.features-container {
  background-color: white;
  padding: 20px 0px;
}

.features-right {
  font-weight: bolder;
  padding: 10px;
  padding-left: 30px;
  text-align: center;
}

.features-left {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  padding: 10px;
  padding-left: 30px;
  color: #ff6f61;
  font-weight: 900;
}

.features-icon1 {
  font-size: 18px;
  font-weight: bolder;
  border: 2px solid #ff6f61;
  border-radius: 10px;
  padding: 13px 15px 14px 15px;
  color: #ff6f61;
}

.features-icon2 {
  border: 2px solid #ff6f61;
  border-radius: 10px;
  padding: 15px;
  color: #ff6f61;
}

.features-icon:hover {
  background-color: #ff6f61;
  color: white;
}

/*-------------------------------------------------------------- collection --------------------------------------------------------*/
.collection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: aliceblue;
  padding: 20px 0px;
}

.collection .collection-inner {
  background-color: black;
  color: white;
  width: 22%;
  margin-bottom: 20px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 15px;
}

.collection .collection-inner img {
  width: 100%;
  margin-bottom: 20px;
}

.right-span {
  background-color: #ff6f61;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
}

.star {
  color: #ff6f61;
  font-size: 15px;
  margin-bottom: 5px;
}
.right-span:hover {
  background-color: white;
  color: #e94a3b;
}
@media only screen and (max-width: 1200px) {
  .collection .collection-inner {
    width: 22%;
  }

  .collection {
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .collection .collection-inner {
    width: 40%;
  }

  .collection {
    justify-content: center;
  }
}

@media only screen and (max-width: 860px) {
  .collection .collection-inner {
    width: 40%;
  }

  .collection {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .collection .collection-inner {
    width: 80%;
  }

  .collection {
    justify-content: center;
  }
}

/* --------------------------------------------------------sub -----------------------------------------------------*/
.subscribe {
  background-color: #ff6f61;
  padding: 20px 0px;
}

.sub {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 4px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sub-email {
  padding: 10px 0px 0px 20px;
}

.sub-email input {
  height: 70%;
  width: 70%;
  border: 1px solid white;
  border-radius: 8px 0px 0px 8px;
}

.sub-email button {
  height: 70%;
  border: 1px solid white;
  background-color: #ff6f61;
  color: white;
  border-radius: 0px 8px 8px 0px;
}
.sub-email button:hover {
  background-color: #e94a3b;
}
/*------------------------------------------------------- models--------------------------------------------------- */
.models {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: aliceblue;
  padding: 15px 0px;
}

.model-inner {
  width: 40%;
}

.models-inner:hover {
  box-shadow: 1px 2px 4px 4px rgb(182, 181, 181);
}

/*----------------------------------------------------------- footer -------------------------------------------------*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(204, 201, 201);
}

.card-inner {
  border: 1px solid transparent;
}

.social-icon {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.social-icon:hover {
  background-color: black;
  color: white;
}
.footer .footer-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*-------------------------------------------------- accept ------------------------------------*/
.accept {
  padding: 20px 0px;
}
/*------------------------------------------------- copyright ---------------------------------*/
.copyright {
  padding: 15px 0px;
  background-color: black;
  color: white;
}
